@{
    ViewData["Title"] = "Cart Page";
}
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a "@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Trang chủ</a>
                    <span>Tin tức</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic large__item set-bg" data-setbg="img/blog/10.jpg"></div>
                    <div class="blog__item__text">
                        <h6><a href="#">Nhiều người trẻ thành 'nô lệ' thẻ tín dụng.</a></h6>
                        <ul>
                            <li>by <span>VnExpress</span></li>
                            <li>6/4/2024</li>
                        </ul>
                    </div>
                </div>
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="img/blog/1.jpg"></div>
                    <div class="blog__item__text">
                        <h6><a href="#">Tiêu tiền theo KOLs  </a></h6>
                        <ul>
                            <li>by <span>VnExpress</span></li>
                            <li>15/5/2024</li>
                        </ul>
                    </div>
                </div>
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="img/blog/3.jpg"></div>
                    <div class="blog__item__text">
                        <h6><a href="#">Vì sao Gen Z sẵn sàng gánh núi nợ để thoả mãn tiêu xài?</a></h6>
                        <ul>
                            <li>by <span>VnExpress</span></li>
                            <li>7/4/2024</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="img/blog/4.jpg"></div>
                    <div class="blog__item__text">
                        <h6><a href="#">Gen Z 'nghiện' mua sắm</a></h6>
                        <ul>
                            <li>by <span>VnExpress</span></li>
                            <li>25/6/2024</li>
                        </ul>
                    </div>
                </div>
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="img/blog/5.jpg"></div>
                    <div class="blog__item__text">
                        <h6>
                            <a href="#">Nghiện 'săn sale' lúc nửa đêm, coi chừng hao tiền tổn sức</a>
                        </h6>
                        <ul>
                            <li>by <span>VnExpress</span></li>
                            <li>02/06/2024 </li>
                        </ul>
                    </div>
                </div>
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="img/blog/6.jpg"></div>
                    <div class="blog__item__text">
                        <h6><a href="#">Chốt đơn thành niềm vui, săn sale món rẻ rồi bỏ xó</a></h6>
                        <ul>
                            <li>by <span>VnExpress</span></li>
                            <li>08/06/2024</li>
                        </ul>
                    </div>
                </div>
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="img/blog/7.jpg"></div>
                    <div class="blog__item__text">
                        <h6><a href="#">Black Friday không còn như xưa, trầm lắng dù có nơi 'giá giảm nhất 10 năm'</a></h6>
                        <ul>
                            <li>by <span>VnExpress</span></li>
                            <li>08/06/2024  </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-3.jpg"></div>
                    <div class="blog__item__text">
                        <h6><a href="#">Cạnh tranh thế nào với mắt kính giá 50 nghìn freeship từ Trung Quốc?</a></h6>
                        <ul>
                            <li>by <span>Ema Timahe</span></li>
                            <li>Seb 17, 2019</li>
                        </ul>
                    </div>
                </div>
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-5.jpg"></div>
                    <div class="blog__item__text">
                        <h6><a href="#">Đầu tư 'ăn theo' xu hướng livestream bán hàng</a></h6>
                        <ul>
                            <li>by <span>Ema Timahe</span></li>
                            <li>Seb 17, 2019</li>
                        </ul>
                    </div>
                </div>
                <div class="blog__item">
                    <div class="blog__item__pic large__item set-bg" data-setbg="img/blog/9.jpg"></div>
                    <div class="blog__item__text">
                        <h6><a href="#">Cơn sốt livestream!!!</a></h6>
                        <ul>
                            <li>by <span>Ema Timahe</span></li>
                            <li>Seb 17, 2019</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 text-center">
                <a href="#" class="primary-btn load-btn">Load more posts</a>
            </div>
        </div>
    </div>
</section>