@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="./index.html"><i class="fa fa-home"></i> Trang chủ</a>
                    <span>Giới thiệu</span>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact__content">
                    <div class="contact__address" style="margin-top:20px;">
                        <h5 style="font-weight:bold;">Chào đón mọi người bước vào thế giới mua sắm mới của sinh viên! </h5>
                        <h6 style="font-style: italic;">
                            Unimarket - Sàn thương mại điện tử độc quyền dành cho sinh viên, mang đến cho bạn một trải nghiệm mua sắm hoàn toàn mới.
                        </h6>
                        <br />
                        <h6>
                            <i class="fa-solid fa-lightbulb" style="color: #FFD43B; height:20px;width:20px;"></i>
                            <strong>Tại sao bạn nên chọn Unimarket?</strong>
                         </h6>
                            <br />
                        <ul>
                            <li>
                                <p><i class="fa-solid fa-hand-point-right" style="color: #74C0FC;"></i>
                                    Đảm bảo chất lượng sản phẩm: Mỗi sản phẩm trên Unimarket đều được kiểm định kỹ lưỡng trước khi được đăng bán, đảm bảo sản phẩm luôn đa dạng và giá cả hợp lý.
                                    </p>
                            </li>
                            <li>
                                <p>
                                    <i class="fa-solid fa-hand-point-right" style="color: #74C0FC;"></i>
                                    Ưu đãi và khuyến mãi: Luôn có những ưu đãi và chương trình khuyến mãi hấp dẫn dành cho sinh viên, giúp bạn tiết kiệm chi phí khi mua sắm.
                                </p>
                            </li>
                            <li>
                                <p>
                                    <i class="fa-solid fa-hand-point-right" style="color: #74C0FC;"></i>
                                    Dịch vụ hỗ trợ: Đội ngũ hỗ trợ khách hàng nhiệt tình và chuyên nghiệp, sẵn sàng giải đáp mọi thắc mắc và hỗ trợ trong quá trình mua sắm.
                                </p>
                            </li>
                            <li>
                                <p>
                                    <i class="fa-solid fa-hand-point-right" style="color: #74C0FC;"></i>
                                    Uy tín tuyệt đối: Giao dịch an toàn, chỉ dành riêng cho cộng đồng sinh viên, đảm bảo uy tín từ người mua đến người bán.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="contact__map">
                    <img src="~/img//Welcome.jpg" alt="Alternate Text" width="600px"/>
                </div>
            </div>
        </div>
    </div>
</section>