@{
    ViewData["Title"] = "Order Details Page";
}
<style>
    .order-summary {
        border: 1px solid #ddd;
        padding: 15px;
        border-radius: 5px;
        background-color: #fff;
    }

        .order-summary .total {
            font-size: 1.5rem;
            font-weight: bold;
            color: #ff4500;
        }

        .order-summary p {
            margin: 0;
        }

        .order-summary .divider {
            border-top: 1px solid #eee;
            margin: 10px 0;
        }

        .order-summary .row {
            margin-bottom: 10px;
        }

    .box {
        width:100%;
    }

    .progress {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100px;
        padding-left:50px;
        padding-right:50px;
        align-items: center;
    }

    .bar {
        position: absolute;
        left: 50%;
        top: 50%;
        background: #E8DFD8;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        overflow: hidden;
    }

    .bar__fill {
        display: block;
        background: #ae1c1c;
        height: 100%;
        -webkit-transition: width .5s ease-in-out;
        transition: width .5s ease-in-out;
    }

    .point {
        position: relative;
        color: white;
        cursor: pointer;
    }

        .point:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 120px;
            height: 120px;
            border-radius: 100%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            -webkit-transition: .3s ease;
            transition: .3s ease;
        }

    .point--complete, .point--active {
        color: black;
    }

    .bullet {
        position: relative;
        z-index: inherit 1;
        background: #fff;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        -webkit-transition: .3s ease;
        transition: .3s ease;
    }

    .point--complete .bullet,
    .point--active .bullet {
        background: #ffffff;
        -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 0 0 6px #ae1c1c;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 0 0 6px #ae1c1c;
    }

    .point--active .bullet {
        -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 0 0 10px #ae1c1c;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 0 0 10px #ae1c1c;
    }

    .label {
        position: absolute;
        top: 100%;
        left: 50%;
        margin: 20px 0 0 0;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        width:100px;
    }   

    .table img {
        width: 50px;
        height: auto;
    }

</style>
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> Trang chủ</a></i>
                    <a href="@Url.Action("OrderHistory","Profile")"> Order History</a></i>
                    <span>Tài Khoản</span>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <div class="row">
                <div class="col-lg-3">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-user-edit"></i> Thông tin cá nhân</a>
                        <a href="#" class="list-group-item list-group-item-action" style="background-color: rgba(253,176,16, 0.8)">Lịch sử đơn hàng</a>
                        <a href="#" class="list-group-item list-group-item-action">Order details</a>
                        <a href="#" class="list-group-item list-group-item-action">Log-out</a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Chi tiết đơn hàng • April 24, 2021 • 3 Products</h5>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <div class="border p-3">
                                        <h5>Billing Address</h5>
                                        <p><strong>Dainne Russell</strong></p>
                                        <p>4140 Parker Rd. Allentown, New Mexico 31134</p>
                                        <p><strong>Email:</strong> dainne.russell@gmail.com</p>
                                        <p><strong>Phone:</strong> (671) 555-0110</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="border p-3">
                                        <h5>Shipping Address</h5>
                                        <p><strong>Dainne Russell</strong></p>
                                        <p>4140 Parker Rd. Allentown, New Mexico 31134</p>
                                        <p><strong>Email:</strong> dainne.russell@gmail.com</p>
                                        <p><strong>Phone:</strong> (671) 555-0110</p>
                                    </div>
                                </div>
                                <div class="order-summary col-md-4 mb-3">
                                        <div class="row">
                                            <div class="col-6">
                                                <p><strong>Order ID:</strong> #4152</p>
                                            </div>
                                            <div class="col-6 text-right">
                                                <p><strong>Payment Method:</strong> Paypal</p>
                                            </div>
                                        </div>
                                        <div class="divider"></div>
                                        <div class="row">
                                            <div class="col-6">
                                                <p>Subtotal:</p>
                                            </div>
                                            <div class="col-6 text-right">
                                                <p>$365.00</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <p>Discount:</p>
                                            </div>
                                            <div class="col-6 text-right">
                                                <p>20%</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <p>Shipping:</p>
                                            </div>
                                            <div class="col-6 text-right">
                                                <p>Free</p>
                                            </div>
                                        </div>
                                        <div class="divider"></div>
                                        <div class="row" style="margin-top:30px">
                                            <div class="col-6">
                                                <p class="total">Total:</p>
                                            </div>
                                            <div class="col-6 text-right">
                                                <p class="total">$84.00</p>
                                            </div>
                                        </div>
                                </div>
                                    <!-- Progress Bar -->
                                <div class="box">
                                        <div class="progress">
                                            <div class="bar">
                                                <div class="bar__fill" style="width:33%;"></div>
                                            </div>
                                            <div class="point point--complete">
                                                <div class="bullet"></div>
                                                <label class="label">Xác nhận đơn</label>
                                            </div>
                                            <div class="point point--active">
                                                <div class="bullet"></div>
                                                <label class="label">Đóng gói</label>
                                            </div>
                                            <div class="point">
                                                <div class="bullet"></div>
                                                <label class="label">Vận chuyển</label>
                                            </div>
                                            <div class="point">
                                                <div class="bullet"></div>
                                                <label class="label">Thành công</label>
                                            </div>
                                        </div>
                                    </div>
                                        

                                    <!-- Order Details Table -->
                                    <table class="table" style="margin-top:10px;">
                                        <thead>
                                            <tr>
                                                <th scope="col">Sản phẩm</th>
                                                <th scope="col">Giá tiền</th>
                                                <th scope="col">Số lượng</th>
                                                <th scope="col">Thành tiền</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><img src="~/img/shop/shop-1.jpg" alt="Red Capsicum"> Red Capsicum</td>
                                                <td>$14.00</td>
                                                <td>x5</td>
                                                <td>$70.00</td>
                                            </tr>
                                            <tr>
                                                <td><img src="~/img/shop/shop-2.jpg" alt="Green Capsicum"> Green Capsicum</td>
                                                <td>$14.00</td>
                                                <td>x2</td>
                                                <td>$28.00</td>
                                            </tr>
                                            <tr>
                                                <td><img src="~/img/shop/shop-3.jpg" alt="Green Chili"> Green Chili</td>
                                                <td>$26.70</td>
                                                <td>x10</td>
                                                <td>$267.00</td>
                                            </tr>
                                        </tbody>
                                    </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(document).ready(function () {
            $(".point").on("click", function (e) {
                let getTotalPoints = $(".point").length,
                    getIndex = $(this).index();
                getCompletedIndex = $(".point--active").index();
                $(".bar__fill").css("width", (getIndex - 1) / (getTotalPoints - 1) * 100 + '%')
                if (getIndex => getCompletedIndex) {
                    $(".point--active").addClass("point--complete").removeClass("point--active");
                    $(this).addClass("point--active");
                    $(this).prevAll().addClass("point--complete");
                    $(this).nextAll().removeClass("point--complete");
                }
            })
        })
    </script>
}