@using Unimarket.MVC.Models.ViewModels
@model LoginVM

@{
    ViewData["Title"] = "Login";
    var message = ViewData["ErrorMessage"] as String;
    Layout = "";
}
<html>
<head>
    <title>Sign in</title>
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="~/css/sign-in.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
    <style>
        body {
            background-image: url('/img/backgroud.jpg');
            background-size: 100% 100%;
            background-position: right center;
            background-repeat: no-repeat;
        }

    </style>

</head>
<div class="container" id="container">
    <h2>Đăng Nhập/Đăng Ký</h2>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="Register" method="post">
                <div style="display: flex" class="form-control">
                    <input class="form-control" type="text" placeholder="FirstName" id="firstName" name="firstName" required />
                    <div id="name-message" style="color:red;font-size:11px"></div>
                    <input style="margin-left: 5px" class="form-control" type="text" id="lastName"  placeholder="LastName" name="lastName" required />
                    <div id="name-message" style="color:red;font-size:11px"></div>
                </div>
                <input type="text" placeholder="Username" id="userName"  name="userName" required />
                <input type="email" placeholder="Email" id="email" name="email" required />
                <div style="display: flex" class="form-control">
                    <div id="phone-message"  style="color:red;font-size:11px"></div>
                    <input type="text" id="mssv"  placeholder="MSSV" name="MSSV" required />
                    <div id="phone-message"  style="color:red;font-size:11px"></div>
                    <input style="margin-left: 5px" id="dob"  type="date" value="2000-01-01" name="dob" placeholder="Ngày sinh" required />
                    <div id="phone-message" style="color:red;font-size:11px"></div>
                </div>
                <select name="gender" style="width: 100%; padding: 12px 15px; margin: 8px 0; background-color: #eee; border: none;">
                    <option value="" selected="true" disabled="true">Giới tính</option>
                    <option value="true">Nam</option>
                    <option value="false">Nữ</option>
                </select>
                <input type="text" id="phone" placeholder="Phone" name="phone" required />
                <input type="password" id="password" placeholder="Password" name="password" id="password" required />
                <div id="password-message" style="color:red;font-size:11px"></div>
                <input type="password" placeholder="Confirm password" name="repass" id="confirmpassword" required />
                <button onclick="register()" disabled="true">Đăng ký</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form asp-action="Login" method="post">
                <h1>Đăng nhập</h1>

                <div class="social-container" style="color: red">

           @*          <a href="https://www.facebook.com/dialog/oauth?client_id=1509092289871952&redirect_uri=http://localhost:8080/FBK74/login-facebook" class="social"
                       style="
                       background-color: navy;
                       color: white;
                       "><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social" style="
                       background-color: red;
                       color: white;
                       "><i class="fab fa-google-plus-g"></i></a> *@
                    @if (message != null)
                    {
                        <span>@message</span>
                    }
                </div>
                @* <span>Sử dụng tài khoản mạng xã hội</span> *@
                <input type="text" placeholder="UserName" name="UserName" required />
                <input type="password" placeholder="Password" name="Password" required />
                <a href="verify">Quên Mật Khẩu?</a>
                <button type="submit">Đăng nhập</button>
            </form>
        </div>
        @* <h5 style="color:red">${errorMessage}</h5> *@

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Unimarket - Kết nối ưng ý. Mua bán dễ dàng</h1>
                    <p>Nhập thông tin cá nhân của bạn và bắt đầu hành trình với chúng tôi</p>
                    <button class="ghost" id="signIn">Đăng Nhập</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Unimarket</h1>
                    <p>Nhập thông tin cá nhân của bạn và bắt đầu hành trình với chúng tôi</p>
                    <button class="ghost" id="signUp">Đăng Ký</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script src="~/js/jquery-ui.min.js"></script>
<script src="~/js/jquery.slicknav.js"></script>
<script src="~/js/jquery.nicescroll.min.js"></script>
<script src="~/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="~/js/validate.js"></script>

<script>
    function register() {
    var userName = $('#userName');

        console.log("userName", userName);
    }
</script>
</html>